<form [formGroup] = 'addUser'>
    <app-input controlName="name" label="Name" placeholder="Name" [form]='addUser'></app-input>
    <!-- <input type="text" formControlName='name' placeholder="name"> -->
    <app-input controlName="email" label="Email" placeholder="Enter email" [form]='addUser'></app-input>
    <input type="text" formControlName='username' placeholder="username">
    <input type="text" formControlName='password' placeholder="password">
    <button (click)='postUser(selectedUser)' [disabled]='addUser.invalid'>{{(selectedUser) ? 'Update User' : 'Add User'}}</button>
    <button  (click)="login()">Login</button>
</form>



